<div class="main-container">
  <div>
    <button class="btn btn-primary m-3" (click)="onAddProduct()">
      +Add Product
    </button>
  </div>
  <div class="product">
    <!-- <h5>Existing products</h5> -->
    <!-- <br />
    <div
      class="card m-3"
      style="width: 400px"
      *ngFor="let product of productList"
    >
      <img class="card-img-top" [src]="product.imagePath" alt="Card image" />
      <div class="card-body">
        <h4 class="card-title">
          {{ product.productName }}
        </h4>
        <small>{{ product.price }}₹</small>
        <a href="#" class="btn btn-secondary btn-sm">Update</a>
        <a
          href="#"
          class="btn btn-danger btn-sm mx-2"
          (click)="onDelete(product)"
          >Delete</a
        >
      </div>
    </div> -->
    <table class="table table-hover m-3">
      <tr>
        <!-- <th>Id</th> -->
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions<i class="fa fa-cogs"></i></th>
      </tr>
      <tr *ngFor="let product of productList">
        <!-- <td>{{ product.productId }}</td> -->
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td><img [src]="product.imagePath" /></td>
        <td>
          <button
            type="button"
            class="btn btn-outline-dark btn-sm"
            (click)="onEdit(product.productId)"
          >
            Edit
          </button>
          <button
            type="button"
            style="margin-left: 10px"
            class="btn btn-outline-danger btn-sm"
            (click)="onDelete(product.productId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
